body {
    background-color: #ddd;
    margin: 0;
    padding: 75px 45px;

    font-family: verdana, arial, helvetica, sans-serif, tahoma;
	font-size: 8pt;
}

div#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;

    background-color: #222;
    background-image: url('Logo150.png');
    background-repeat: no-repeat;
    background-position: 50px 50%;

    color: #ddd;

    padding: 0 50px 0 225px;
    margin: 0;

    border-bottom: 1px solid #000;
}
div#header p {
    padding: 15px 0;
}

p.tabs {
    display: block;
    float: right;
    margin: 0 50px 25px 50px;
    padding: 0;
}

p.tabs a {
    display: block;
    float: left;

    width: 95px;
    margin: 0 2px;
    padding: 2px;
    
    background-color: #333;

    text-align: center;
    color: #ddd;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}
p.tabs a.this {
    font-weight: bold;
    background-color: #555;
    padding: 3px;
}

strong {
    border-bottom: 1px dashed #444;
    display: block;
}
p.news span {
    display: block;
    padding: 10px 25px;
}

div#footer {
    color: #777;
    text-align: center;
}
div#footer a {
    color: #777;
}

img.author_pic {
	display: block;
	float: left;

	margin: 2px 2px 50px 2px;
	padding: 2px;

	border: 1px solid white;
	background-color: #222;
}

.wip {
    color: #777;
}

/* SLight classes */
.SLight_Toolbox_Plugin {
    padding: 15px 50px;
    margin: 15px;

    display: block;
    float: right;
}

.SLight_Content {
    clear: both;
    padding: 15px 0;
    margin: 15px;
}

.SLight_Notification {
    display: block;

    margin: 10px;
    padding: 10px;

    border: 1px solid gray;
    background-color: silver;
}

.SLight_Language_Addon {
    position: absolute;
    top: 10px;
    right: 65px;
}
.SLight_Language_Addon a {
    display: block;
}

.SLight_Sysinfo_Addon {
}

form .Entry,
form .SelectEntry,
form .TextEntry {
    margin-bottom: 5px;
}
form .Entry .Label,
form .SelectEntry .Label,
form .TextEntry .Label {
    color: #555;
}
form .FF {
    margin-top: 1px;
    margin-left: 10px;
}
form .Buttons {
    text-align: center;
}
form .FF input,
form .FF textarea,
form .FF select {
    background-color: #eee;
    border: 1px solid #aaa;
    color: #333;
}
form .FF textarea {
    width: 500px;
    height: 128px;
}
form .Error {
    display: block;
    border-left: 1px solid #a00;
    border-bottom: 1px solid #a00;
    
    color: #a00;

    padding: 5px 25px 2px 2px;
    margin-left: 25px;

    width: 450px;
}

/* SLight Action classes */
.SLight_Toolbox_Plugin a {
    text-decoration: none;

    border-bottom: 1px dashed gray;

    padding: 1px 2px;
}
.SLight_New_Action {
    color: green;
}


/* Debug */
.SLight_Object {
	border: 1px dotted silver;
}
