body {
    background-color: #ddd;
    margin: 0;
    padding: 94px 45px;

    font-family: verdana, arial, helvetica, sans-serif, tahoma;
	font-size: 8pt;
}
p {
    margin: 0 0 2px 0;
}

div#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 94px;

    background-color: #222;
    background-image: url('Logo256.png');
    background-repeat: no-repeat;
    background-position: 50px 50%;

    color: #ddd;

    padding: 0 50px 0 285px;
    margin: 0;

    border-bottom: 1px solid #000;
}
div#header p {
    padding: 15px;
    margin-top: 15px;
    font-size: 110%;
}

strong {
    border-bottom: 1px dashed #444;
    display: block;
}
p.news span {
    display: block;
    padding: 10px 25px;
}

div#footer {
    color: #777;
    text-align: center;
}
div#footer a {
    color: #777;
}

img.author_pic {
	display: block;
	float: left;

	margin: 2px 2px 50px 2px;
	padding: 2px;

	border: 1px solid white;
	background-color: #222;
}

.wip {
    color: #777;
}

/* SLight classes */
div.SL_UserPanel_Addon {
    float: right;
    margin-right: 42px;
}
div.SL_UserPanel_Addon span.Label {
    color: #777;
}
div.SL_UserPanel_Addon form .FF input {
    border: 1px solid #333;
    background-color: #ddd;
    color: #444;
}
div.SL_UserPanel_Addon form .Buttons {
    margin-top: 2px;
}
div.SL_UserPanel_Addon form .Buttons input {
    padding-left: 10px;
    padding-right: 10px;
}

div.SLight_Rootmenu_Addon {
    display: block;
    float: right;
    margin: 0 50px 10px 50px;
    padding: 0;
}

div.SLight_Path_Addon {
    display: block;
    margin: 10px 0 25px 0;
    padding: 0;
}

div.SLight_Rootmenu_Addon a {
    display: block;
    float: left;

    width: 95px;
    margin: 0 2px;
    padding: 2px;
    
    background-color: #333;

    text-align: center;
    color: #ddd;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}
div.SLight_Rootmenu_Addon a.Current {
    font-weight: bold;
    background-color: #555;
    padding: 3px;
}

.SLight_Toolbox,
.SLight_Toolbox_Plugin {
    padding-left: 128px;

    display: block;
    float: right;
    
    border-bottom: 1px dashed gray;
}

.SLight_Content {
    padding: 15px 0;
    margin: 15px;
}

.SLight_Notification {
    display: block;

    margin: 10px;
    padding: 10px;

    border: 1px solid gray;
    background-color: silver;
}

.SLight_Language_Addon {
    position: absolute;
    top: 10px;
    right: 65px;
}
.SLight_Language_Addon a {
    display: block;
    color: silver;
}

.SLight_Sysinfo_Addon {
}

.SLight_Submenu_Addon {
    display: block;
    float: left;

    margin: 25px 5px 250px 5px;
    padding: 5px;
}
.SLight_Submenu_Addon a {
    display: block;
    margin: 5px;
    padding: 2px;

    background-color: #222222;
    color: #ddd;
}

form .Entry,
form .SelectEntry,
form .TextEntry {
    margin-bottom: 5px;
}
form .Entry .Label,
form .PasswordEntry .Label,
form .SelectEntry .Label,
form .TextEntry .Label {
    color: #555;
}
form .FF {
    margin-top: 1px;
    margin-left: 10px;
}
form .Buttons {
    text-align: center;
}
form .FF input,
form .FF textarea,
form .FF select {
    background-color: #eee;
    border: 1px solid #aaa;
    color: #333;
}
form .FF textarea {
    width: 500px;
    height: 128px;
}
form .Error {
    display: block;
    border-left: 1px solid #a00;
    border-bottom: 1px solid #a00;
    
    color: #a00;

    padding: 5px 25px 2px 2px;
    margin-left: 25px;

    width: 450px;
}

.SLight_Timebox {
    display: block;
    text-align: right;
    color: gray;
}

.SLight_Object {
    margin: 0 0 5px 0;
    padding: 2px 2px 16px 2px;

    /*
	border: 1px dotted #bbb;
	background-color: #e5e5e5;
    */
}
.SLight_Object .Core .Label {
    display: block;
    color: gray;
}
.SLight_Object .Core .Value {
    display: block;
    padding-left: 5px;
    margin-bottom: 3px;
}

/* SLight Action classes */
.SLight_Toolbox_Plugin a,
.SLight_Toolbox a {
    text-decoration: none;

    padding: 1px 2px;
    margin: 1px 5px;
}
.SLight_New_Action,
.SLight_AddContent_Action {
    color: green;
}
.SLight_Edit_Action {
    color: #950;
}
.SLight_Download_Action {
    color: #00a;
}
.SLight_Delete_Action {
    color: #c00;
}

/* Dialogs */

.SLight_Delete_Dialog {
    display: block;
    padding: 15px;
    border-left: 2px solid #b00;
}
.SLight_Delete_Dialog .Buttons {
    margin: 15px;
    text-align: center;
    letter-spacing: 1px;
}
.SLight_Delete_Dialog .Buttons a.Yes {
    color: #b00;
    padding: 0 5px;
    font-weight: bold;
}
.SLight_Delete_Dialog .Buttons a.No {
    color: #0b0;
    padding: 0 5px;
    font-weight: bold;
}

.O-SL_Error_AccessDenied {
    display: block;
    padding: 15px;
    background-color: #eee;
    border: 1px solid #aaa;
    border-left: 2px solid #b00;
}

.V-Title {
    font-size: +150%;
    font-weight: bold;
    border-bottom: 1px dashed black;
    padding: 2px 15px;
}

.V-NewsDate {
    float: left;
    font-weight: bold;
    font-size: +150%;
    padding: 2px 12px 2px 2px;
}

.O-Author .V-Name {
    font-size: +125%;
    font-weight: bold;
    border-bottom: 1px dashed black;
    padding: 2px 5px;
}
.O-Author .Asset {
    float: left;
    margin: 1px 5px 15px 1px;
    padding: 1px;
    border: 1px solid black;
    background-color: white;
}
.V-Role {
    font-weight: bold;
}

